.btn {
    
    border-radius: 15px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    &--choice {
        border: 1px solid $colorPrimary;
        color: $colorPrimary;
        &:hover{
            background: linear-gradient(to bottom right, $colorPrimary,  $colorSecondary) !important;
            color: white !important;
        }   
    }
    &--success {
        border: 1px solid $colorPrimary;
        color: $colorPrimary;
        &:hover {
            background: linear-gradient(to bottom right, $colorPrimary, white, $colorTertiary) !important;
            color: $colorPrimary !important;
            
        }
    }
    &--cancel {
        border: 1px solid $colorSecondary;
        color: $colorSecondary;
        &:hover {
            background: linear-gradient(to bottom right, $colorSecondary, white, #e27332d2) !important;
            color: $colorSecondary !important;
        }
    }
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: linear-gradient(to bottom right, $colorSecondary, $colorPrimary, $colorTertiary);
    color: white;
    cursor: pointer;
    padding: 6px 15px;
    border-radius: 5px;
  }
#myBtn:hover {
    background-color: #555;
}





