.navbar-collapse {

    .nav-link{
        border-top: 3px solid transparent;
        padding: 5px 20px !important;
        line-height: 80px;
        font-weight: 500;
        &:hover {
            color: $colorPrimary!important;
            border-top: 3px solid $colorPrimary;
            background-color: #915cf355;
        }
        &.active {
            border-top: 3px solid $colorPrimary;
            background-color: #915cf355;
            color: $colorPrimary!important;
        }

    }   
}